:root {
    --primary-color: #A3B18A;
    --accent-color: #C2A383;
    --secondary-color: #D6A5A5;
    --text-color: #3A3A3A;
    --border-color: #5d674a;
    --tertiary-color: #8B7355;
    --darker-color: #93a17a;
}