.join_page {
  padding-top: 50px;
  max-height: 80%;
  width: 100%;
  margin: 0;
  background-color: var(--primary-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.content {
  margin-left: 40px;
  padding-top: 40px;
  flex: 1;
  padding: 2rem;
  z-index: 1;
  width: 20%;
  height: 100%;
}

.coffee-image {
  width: 100%;
  height: 68%;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
}

.background-elements {
  width: 70%;
  height: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
