.hangout_page {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--accent-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding-left: 50px;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.left_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 75px;
}

.middle_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.information_card {
  border: none;
  padding: 14px 18px 18px;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;

}




.information_card .greeting_box {
  border: 5px solid #93a17a;
  border-radius: 5px;
  padding: 11px 16px;
  flex-direction: row;
  display: flex;
  gap: 100px'

}

.textbox {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.information_card span,
strong {
  font-size: 16px;
  font-family: "Noto Sans", "Arial", "Droid Sans", sans-serif;
  color: var(--text-color);
}

.information_card h1 {
  font-size: 24px;
  margin: 4px 0;
  color: var(--text-color);
}

.greeting_box h1 {
  margin-left: 100px;
  font-size: 24px;
}


.information_card p {
  font-size: 12px;
  margin: 4px 0;
}

.timebox {
  display: flex;
  flex-direction: row;
  background-color: var(--darker-color);
  border: none;
  border-radius: 5px;
  padding: 8px 11px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.timebox span {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  margin-left: 20px;
}


.location_card {
  border: none;
  background-color: var(--primary-color);
  padding: 14px 18px 18px;
  width: 432px;
  font-family: 'Poppins', sans-serif;

}

.location_card h3 {
  margin: 0;
  color: var(--text-color);
}

.location {
  display: flex;
  flex-direction: row;
  background-color: var(--darker-color);
  padding: 8px 11px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.location input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-weight: 500;
}

.location input:focus {
  outline: none;
}

.location p {
  flex-shrink: 0;
  font-weight: 400;
  /* Prevents time from getting squished */
  margin: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.location_list {
  max-height: 120px;
  overflow-y: auto;
}