.hangout_page {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--accent-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding-left: 50px;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.left_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 100px;
}

.middle_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.information_card {
  border: none;
  padding: 12px 16px 16px;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;

}




.information_card .greeting_box {
  border: 3px solid #93a17a;
  border-radius: 5px;
  padding: 11px 16px;
  flex-direction: row;
  display: flex;
  gap: 100px'
}

.textbox{
  display: flex;
  flex-direction: column;
}

.information_card span,
strong {
  font-size: 16px;
  font-family: "Noto Sans", "Arial", "Droid Sans", sans-serif;
  color: var(--text-color);
}

.information_card h1 {
  font-size: 24px;
  margin: 4px 0;
  color: var(--text-color);
}



.information_card p {
  font-size: 12px;
  margin: 4px 0;
}